Package: x265-convert-script
Version: 0.0.0.6-alpha
Section: utils
Priority: optional
Architecture: all
Depends: ffmpeg, xattr
Maintainer: Alejandro Martin Perez <alejandro.martinpz98@outlook.com>
Description: A script to convert video files to H265 (HEVC) format or change their container.
